@page "/llama3"
@using System.Text
@using Newtonsoft.Json
@using Root.Services.Docker
@rendermode InteractiveServer

@code {

    [Inject] public IJSRuntime    Js     { get; set; }
    [Inject] public DockerWrapper Docker { get; set; }

    private bool                       isInitialized;
    private string                     prompt;
    private bool                       isProcessing;
    private Response<ContainerWrapper> ctnRsp;
    private string                     rsp;

    protected override async Task OnInitializedAsync() {
        var runArgs = Response<RunArgs>.Ok(new RunArgs {
            IsRemoveOnStop = true,
            GpuCount       = -1,
            Image       = "ponito/built-llama3",
            PortMap = new PortMap {
                HostPort      = NamedPorts.LLAMA3,
                ContainerPort = NamedPorts.LLAMA3,
            }
        });
        var pipe = await
            Pipe.Start(runArgs)
                 .Pass(Docker.RunContainer)
                 .ToTask();

        if (pipe.IsNotOk) return;
        ctnRsp = pipe;
    }

    private async Task AskLlama3() {
        if (isProcessing) return;
        isProcessing = true;

        await Pipe
              .Start((
              ctnRsp,
              endpoint: "/api/generate",
              postData: (object)new {
                  model  = "llama3",
                  prompt = prompt,
                  stream = false
              }))
              .Pass(Docker.Post)
              .FunctionAsync(async postRsp => {
                  if (postRsp.IsNotOk) {
                      rsp          = $"失敗了：{postRsp.errorCode}：{postRsp.message}";
                      isProcessing = false;
                      StateHasChanged();
                      return 0;
                  }

                  string  json = await postRsp.value.Content.ReadAsStringAsync();
                  dynamic obj  = JsonConvert.DeserializeObject(json);
                  rsp = obj?.response;
                  StateHasChanged();

                  return 0;
              })
              .ToTask();

        isProcessing = false;
    }

}

<PageTitle>Llama3</PageTitle>
<input @bind="prompt"/>
<button @onclick="AskLlama3">問 llama3</button>
<p id="rsp">@rsp</p>

<script>
    function appendRsp(str) {
        window.document.getElementById('rsp').innerText += str;
    }
</script>